.row{
    margin: 15px;
}

#submit{
    float:right;
}

button{
    margin-right:5px;
}
body{
    
    background-color: #533008;
background-image: url("https://www.transparenttextures.com/patterns/brushed-alum.png");

}
h1{
    font-weight: bolder;
    text-align: center;
}
p, h3{
    font-weight: bolder;
}